{% extends "calc/index.html" %}

{% block calc %}

<div class="container mt-4" id="mainCalc">

    <div class="alert alert-secondary" role="alert">

        <div class="row">

            <div class="col-lg-4">Current Price: {{ ada_price }}$</div>
            <div class="col-lg-4">Market Cap: {{ ada_market_cap }}$</div>
            <div class="col-lg-4">Source: <a href="https://www.coingecko.com">CoinGecko</a></div>

        </div>

    </div>

    <form action="/" method="post">

        {% csrf_token %}

        <div class="row">

            <div class="col-lg-4 m-2">
                Amount Of Cardano (ADA): {{ form.my_cardano }}
            </div>

            <div class="col-lg-4 m-2">
                Cardano ADA Price: {{ form.my_ada_price }}
            </div>

            <div class="col-lg-4 m-2">
                <button type="submit" class="btn btn-primary">Calculate Gainz</button>
            </div>

        </div>

        <h3>Investment:</h3>

        <div class="alert alert-primary" role="alert">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Amount Of Cardano (ADA):</label>
                </div>

                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ amount_of_cardano }}₳"
                        disabled>
                </div>
            </div>
        </div>

        <div class="alert alert-primary" role="alert">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Cardano USD Worth:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ cardano_worth }}$"
                        disabled>
                </div>
            </div>
        </div>

        <h3>Rewards:</h3>

        <div class="alert alert-primary" role="alert">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Yearly Staking Rewards (ADA):</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ ada_yearly_rewards }}₳"
                        disabled>
                </div>
            </div>
        </div>

        <div class="alert alert-primary" role="alert">
            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Monthly Passive Income (ADA):</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ ada_monthly_income }}₳"
                        disabled>
                </div>
            </div>
        </div>

        <div class="alert alert-primary" role="alert">
            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Yearly USD Staking Income:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ usd_yearly_rewards }}$"
                        disabled>
                </div>
            </div>
        </div>

        <div class="alert alert-success" role="alert">
            <div class="row g-3 align-items-center">

                <div class="col-auto">
                    <label for="disabledTextInput" class="col-form-label">Monthly USD Passive Income:</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" id="disabledInput" type="text" placeholder="{{ usd_monthly_income }}$"
                        disabled>
                </div>
            </div>
        </div>

    </form>

    <div>
        <canvas id="myChart"></canvas>
    </div>
    <br>
    <div>
        <canvas id="myChart2"></canvas>
    </div>

</div>

{% endblock %}
